//Color
$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

//Resolutions
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;

$container-width: 90%;

$duration: 0.15s;
